@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Revalia&family=VT323&display=swap');

body {
  font-family: 'Revalia', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

  background-color: #715ca4;
  background-image:
    url("assets/background.png"),
    linear-gradient(180deg, #715ca4 1%, #86d0ef 1%);
  background-size: 427px 926px, cover;
  background-repeat: repeat-x;
  background-position: center top;

  @media only screen and (min-resolution: 1.25dppx) and (max-resolution: 2.25dppx) {
    background-image:
      url("assets/background@2x.png"),
      linear-gradient(180deg, #715ca4 1%, #86d0ef 1%);
  }

  @media only screen and (min-resolution: 2.25dppx) {
    background-image:
      url("assets/background@3x.png"),
      linear-gradient(180deg, #715ca4 1%, #86d0ef 1%);
  }
}

code {
  font-family: 'VT323', monospace;
}
